#formconnexion{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #BDBDBD;
}

.lblconnexion{
    margin-top: 15%;
    margin-left : 15%;
}

.txtconnexion{
    margin-left: 2%;
    margin-right: 15%;
}



